.footer {
    width: 100%;
    background-color: $first-color;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: space-between;

    &__text {
        content: '';
        font-size: 20px;
        font-weight: 400;
        color: white;
        text-align: left;
        padding: 20px 0;
        margin-top: 0;
        left: 10px;
    }

    &__socials {
        content: '';
        position: relative;
        display: flex;
        justify-content: right;
        align-items: center;
        height: 100%;
    }

    &__socials--icon-discord {
        height: 50px;
        color: white;
        margin-right: 20px;
        transition: 0.3s ease;

        &:hover {
            color: darken($first-color, 10%);
            transform: scale(1.1);
        }

    }

        &__socials--icon-instagram {
        height: 50px;
        color: white;
        margin-right: 20px;
        transition: 0.3s ease;

        &:hover {
            color: darken($first-color, 10%);
            transform: scale(1.1);
        }
    }

        &__socials--icon-github {
        height: 50px;
        color: white;
        margin-right: 20px;
        transition: 0.3s ease;

        &:hover {
            fill: blue;
            transform: scale(1.1);
        }
    }
}

@media (max-width: 768px) {
  .footer {
    height: 190px;
    padding-bottom: 20px;


    &__text {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    &__socials {
        flex-direction: column;
        top: 15px;
        align-items: flex-end;
        margin-left: auto;
    }   
  }
}