

.hero-wrapper {
    padding: 1px;
}




@media (max-width: 768px) {
    .footer-text-wrap {
        display: flex;
        flex-direction: column;
    }
}

.header__menu {
    align-items: center;
    display: flex;
}